.footer {
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.background-blog {
    background-image: url(../../public/img/Background-Home.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.transform-translate-50 {
    transform: translate(-50%, -50%);
}

.min-height-70vh {
    min-height: 70vh;
}

hr.hr-gray {
    background-color: #ccc;
    height: 1px;
}