.footer {
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.text-a-link {
    color: #009bde;
}

.background-blog {
    background-image: url(../../public/img/Background-Home.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.transform-translate-50 {
    transform: translate(-50%, -50%);
}

.min-height-70vh {
    min-height: 70vh;
}

hr.hr-gray {
    background-color: #ccc;
    height: 1px;
}

.number-404 {
    position: relative;
    font: 700 20vmin "Consolas";
    letter-spacing: 5vmin;
    text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}

.text-ooops {
    font: 500 5vmin "Courgette";
}