@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "mediaqueries";
@import "nuevo";

/************/

html {
    min-height: 100%;
    background-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(240, 240, 240);
    background: linear-gradient(0deg, rgba(240, 240, 240, 1) 0%, rgba(245, 244, 244, 1) 100%);
    min-height: 100%;
    line-height: 1em;
    width: 100vw;
    font-size: 16px;
    overflow-x: hidden;
}